// SessionMgr resource file

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

/**
 *  Resources for configuration dialog
 */
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
ID_CFG_DLG DIALOGEX 0, 0, IDD_CFG_W, IDD_CFG_H
STYLE DS_SHELLFONT | WS_CAPTION
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW | WS_EX_TOPMOST | WS_EX_STATICEDGE
CAPTION "Configure File Sync"
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    RTEXT "Source folder:", ID_CFG_DLG_SOURCE_TXT, 10, 10, 60, 10
    EDITTEXT ID_CFG_DLG_SOURCE_EDT, 73, 10, 200, 10, ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    PUSHBUTTON "...", ID_CFG_DLG_SOURCE_BROWSE_BTN, 277, 9, 15, 11
    RTEXT "Destination folder:", ID_CFG_DLG_DESTINATION_TXT, 10, 30, 60, 10
    EDITTEXT ID_CFG_DLG_DESTINATION_EDT, 73, 30, 200, 10, ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    PUSHBUTTON "...", ID_CFG_DLG_DESTINATION_BROWSE_BTN, 277, 30, 15, 11
    DEFPUSHBUTTON "OK", IDOK, 217, 50, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON "Cancel", IDCANCEL, 258, 50, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
}
